#dlg{
	width:820px;
	height:360px;
	padding:10px 20px;
}
#fm{
	margin:0;
	padding:10px 30px;
}
.ftitle{
	font-size:14px;
	font-weight:bold;
	padding:5px 0;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.fitem{
	margin-bottom:10px;
}
.fitem label{
	display:inline-block;
	width:100px;
}
.textbox-text{
	width: 129px;
}
#form-container{
	margin: 0 40px 0 0;
	float:left;
	width:240px;
}
#prods-container{
	float:left;
}
.icon-filter{
	background:url('../images/filter.png') no-repeat center center;
}