#fm{
	margin:0;
	padding:10px 30px;
}
.ftitle{
	font-size:14px;
	font-weight:bold;
	padding:5px 0;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.fitem{
	margin-bottom:10px;
}
.fitem label{
	display:inline-block;
	width:80px;
}
.addrbtn{
    background-color: #fff;
    border: 1px solid #95b8e7;
    border-radius: 5px;
    display: inline-block;
    height: 20.3333px;
    margin: 0 0 3px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 200px;
}
#form-container{
	margin: 0 40px 0 0;
	float:left;
}
#map-container{
	float:left;
}