body {
    margin: 0;
    padding: 0;
}

#modulo1 {
    float:left;
    background:#3a3a3a;
    width:200px;
    height:100%;
}

#modulo2 {
    width:100%;
    height:40px;
    background:#f0f0f0;
    border-bottom: 1px solid #ccc;
    color: blue;
    text-align: justify;
}

#modulo2 p {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 10px 0 0 15px;
  color: #5162c0;
  font-weight: bold;
  float: left;
}

#modulo3-contenido {
    padding-top:15px;
}

#logoMenu img{
    width:130px;
    margin: 10px 0 20px 35px; 
}

#menu ul{
   padding:0;
}

#menu img{
   width: 20px;
   float: left;
   padding-right: 7px;
}

#menu li{
    box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(255, 255, 255, 0.1);
    color: #fff;
    border-bottom: 1px solid #151515;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
    padding: 15px 0 14px 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0s;
    list-style: none;
}

#menu li:hover, li:active  {
    box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(255, 255, 255, 0.1);
    color: #fff;
    border-bottom: 1px solid #151515;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
    padding: 15px 0 14px 18px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0s;
    list-style: none;
    background: #5162c0;
}

